.Box {
  position: fixed;
  z-index: 100;
  width: 300px;
  top: 50px;
  background-color: rgb(255, 255, 255);
}
.suggestionButton {
  background-color: white;
  width: 100%;
  margin: 0;
  color: #138496;
  border: none;
  text-decoration: none;
  display: inline-block;
}
