.Box{
    position: fixed;
    z-index: 1000;
    width: 300px;
    margin-top: -8px;
    margin-left: 241px;
    background-color: rgb(255,255,255);
}
.Item{
    margin-left: 10px;
    margin-right: 10px;
}