.loginScreen {
  width: 100%;
  height: 100vh;
  background-image: url('../../data/loginBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.loginRow {
  width: 100%;
  height: 100%;
  margin: 0;
}
.loginCol {
  padding: 0;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.stonkImage {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  margin-left: 30px;
}
.loginForm {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginCard {
  margin: auto;
  width: 80%;
  padding: 30px;
  text-align: center;
  height: 500px;
}
.classicLogin {
  text-align: left;
}
.formLinks {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.btn-light {
  font-size: 12px;
  padding: 0;
  background-color: #fff;
  border: none;
  color: #17a2b8 !important;
}
.btn-light:hover {
  background-color: #fff;
  border: none;
  color: #3f3f3f;
}
